In [ ]:
%%sql
CREATE DATABASE hotel_cval;
DROP DATABASE hotel_cval;

CREATE TABLE number_category (
	id INT PRIMARY KEY AUTO_INCREMENT,
    `name` VARCHAR(255)
);

CREATE TABLE `client` (
	id INT PRIMARY KEY AUTO_INCREMENT,
    `name` VARCHAR(50),
    surname VARCHAR(50),
    patronymic VARCHAR(50)
);

CREATE TABLE statuses (
	id INT PRIMARY KEY AUTO_INCREMENT,
    `name` VARCHAR(50)
);

CREATE TABLE room (
	id INT PRIMARY KEY AUTO_INCREMENT,
    `number` INT NOT NULL,
    floor INT NOT NULL,
    category_id INT NOT NULL,
    status_id INT NOT NULL,

    FOREIGN KEY(category_id) REFERENCES number_category(id),
    FOREIGN KEY(status_id) REFERENCES statuses(id)
);

CREATE TABLE orders (
	id INT PRIMARY KEY AUTO_INCREMENT,
    order_start DATE,
    order_end DATE,
    room_id INT NOT NULL,
    client_id INT NOT NULL,

    FOREIGN KEY (room_id) REFERENCES room(id),
    FOREIGN KEY (client_id) REFERENCES `client`(id)
);

CREATE TABLE users (
	id INT PRIMARY KEY AUTO_INCREMENT,
    login VARCHAR(50),
    `password` VARCHAR(50)
);

INSERT INTO users (login, `password`) VALUES
('admin', '123');

INSERT INTO number_category (`name`) VALUES
('Одноместный стандарт'),
('Одноместный эконом'),
('Стандарт двухместный с 2 раздельными кроватями'),
('Эконом двухместный с 2 раздельными кроватями'),
('3-местный бюджет'),
('Бизнес с 1 или 2 кроватями'),
('Двухкомнатный двухместный стандарт с 1 или 2 кроватями'),
('Студия'),
('Люкс с 2 двуспальными кроватями');

INSERT INTO statuses (`name`) VALUES
('Занят'),
('Чистый'),
('Грязный'),
('Назначен к уборке');

INSERT INTO room (`number`, floor, category_id, status_id) VALUES
(101, 1, 1, 1),
(102, 1, 1, 1),
(103, 1, 2, 2),
(104, 1, 2, 1),
(105, 1, 3, 1),
(106, 1, 3, 2),
(107, 1, 4, 1),
(108, 1, 4, 1),
(109, 1, 5, 1),
(110, 1, 5, 1),

(201, 2, 6, 1),
(202, 2, 6, 2),
(203, 2, 6, 1),
(204, 2, 7, 4),
(205, 2, 7, 1),
(206, 2, 7, 1),
(207, 2, 1, 1),
(208, 2, 1, 1),
(209, 2, 1, 1),

(301, 3, 8, 3),
(302, 3, 8, 3),
(303, 3, 8, 2),
(304, 3, 9, 1),
(305, 3, 9, 2),
(306, 3, 9, 1);

INSERT INTO `client` (surname, `name`, patronymic) VALUES
('Шевченко', 'Ольга', 'Викторовна'),
('Мазалова', 'Ирина', 'Львовна'),
('Семеняка', 'Юрий', 'Геннадьевич'),
('Савельев', 'Олег', 'Иванович'),
('Бунин', 'Эдуард', 'Михайлович'),
('Бахшиев', 'Павел', 'Иннокентьевич'),
('Тюренкова', 'Наталья', 'Сергеевна'),
('Любяшева', 'Галина', 'Аркадьевна'),
('Александров', 'Петр', 'Константинович'),
('Мазалова', 'Ольга', 'Николаевна'),
('Лапшин', 'Виктор', 'Романович'),
('Гусев', 'Семен', 'Петрович'),
('Гладилина', 'Вера', 'Михайловна'),
('Масюк', 'Динара', 'Викторовна'),
('Лукин', 'Илья', 'Федорович'),
('Петров', 'Станислав', 'Игоревич'),
('Филь', 'Марина', 'Федоровна'),
('Михайлов', 'Игорь', 'Вадимович');

INSERT INTO orders (order_start, order_end, room_id, client_id) VALUES
('2025-02-14', '2025-03-02', 1, 1),
('2025-02-28', NULL, 2, 2),
('2025-02-23', '2025-02-02', 4, 3),
('2025-03-01', '2025-03-07', 5, 4),
('2025-02-27', '2025-04-22', 7, 5),
('2025-02-24', '2025-03-17', 7, 6),
('2025-02-15', '2025-03-20', 8, 7),
('2025-02-27', '2025-03-12', 9, 8),
('2025-02-14', '2025-02-02', 10, 9),

('2025-02-24', '2025-03-17', 11, 10),
('2025-02-25', '2025-03-07', 13, 11),
('2025-03-01', '2025-03-04', 15, 12),
('2025-02-02', '2025-02-02', 16, 13),
('2025-02-25', '2025-03-04', 17, 14),
('2025-02-25', '2025-03-04', 18, 15),
('2025-02-27', NULL, 19, 16),

('2025-02-28', '2025-03-15', 23, 17),
('2025-02-11', NULL, 25, 18);